<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<test thread-count="5" name="ChromeTest1" parallel="classes">
		<classes>
			<class name="remoteTesting.DockerValidation.ChromeTest1" />
			<class name="remoteTesting.DockerValidation.ChromeTest2" />
			<class name="remoteTesting.DockerValidation.ChromeTest3" />
		</classes>
	</test>
</suite> 
